@namespace Spice.Saffron.Components
<div>
    <Divider Orientation="left" Class=".danger-zone">Danger Zone</Divider>
    <Row>
        <Col Span="6">
        <p>Don't want us to store your data anymore? Click the "Delete account" button below and we will yeet it.</p>
        <Button Danger Type="@ButtonType.Primary" Icon="@IconType.Outline.Delete" OnClick="ShowDeleteAccountConfirmation">Delete account</Button>
        </Col>
    </Row>
</div>


<Modal Title="Delete data"
       Visible="@_visible"
       OnOk="@HandleOk"
       ConfirmLoading="@_confirmLoading">
    <p>@_modalText</p>
</Modal>


@code {
    [Parameter]
    public EventCallback OnDeleteAccount { get; set; }

    bool _visible = false;
    bool _confirmLoading = false;
    string _modalText = "Are you sure you want to delete your data?";

    private void ShowDeleteAccountConfirmation()
    {
        _visible = true;
    }


    private async Task HandleOk(MouseEventArgs e)
    {
        _modalText = "Yeeting data...";
        _confirmLoading = true;
        StateHasChanged();
        await OnDeleteAccount.InvokeAsync();
    }

    private void HandleCancel(MouseEventArgs e)
    {
        _visible = false;
    }
}

