@using System.Security.Claims
@namespace Spice.Saffron.Components

<div class="site-page-header-ghost-wrapper">
    <PageHeader Ghost="false">
        <PageHeaderTitle>@User?.NickName</PageHeaderTitle>
        <PageHeaderSubtitle>All the things we know about you!</PageHeaderSubtitle>
        <PageHeaderExtra>
            <Button Type="@ButtonType.Primary"
                    Icon="@IconType.Outline.Edit"
                    OnClick="OnRedirectToEditProfile">
                Edit Profile
            </Button>
            <Button Type="@ButtonType.Primary"
                    Icon="@IconType.Outline.Poweroff"
                    OnClick="OnRedirectToLogout">
                Logout
            </Button>
        </PageHeaderExtra>
        <PageHeaderContent>
            @if (User != null)
            {
                <Descriptions Size="small" Column="3">
                    <DescriptionsItem Title="Nickname" Span="1">@User.NickName</DescriptionsItem>
                    <DescriptionsItem Title="DiscordId" Span="1">@User.UserName</DescriptionsItem>
                    <DescriptionsItem Title="ProfileImage" Span="1">@User.ProfileImage</DescriptionsItem>
                    <DescriptionsItem Title="Birthdate" Span="1">@(User.DateOfBirth != null ? User.DateOfBirth:"Unknown")</DescriptionsItem>
                </Descriptions>
                <p class="note">This data is stored in our database.</p>
            }
            else
            {
                <Skeleton Active="true"></Skeleton>
            }
        </PageHeaderContent>
    </PageHeader>
</div>
<div>
    <Divider Orientation="left">Roles</Divider>
    <Row>
        <Col Span="12">
        <p>Your roles on our Discord Server. Only the useful ones ofcourse.</p>
            @if (Claims.Count() > 0)
            {
                <ul>
                        @foreach (var claim in Claims)
                        {
                        <li>@claim.Value</li>
                        }
                </ul>
            }
            else
            {
                <p>None</p>
            }
        </Col>
    </Row>
</div>

@code {
    [Parameter]
    public EventCallback OnRedirectToEditProfile { get; set; }
    [Parameter]
    public EventCallback OnRedirectToLogout { get; set; }
    [Parameter]
    public UserViewModel User { get; set; }
    [Parameter]
    public IEnumerable<Claim> Claims { get; set; }
}
