@inject ICalendarService CalendarService
@namespace Spice.Saffron.Components
<BSRow Align="Align.Default" Class="hompage-event-row">
    @if (!_loading && _events != null)
    {
        <h5>@_headerName <BSBadge Color="BSColor.Primary">@_events.Items.Count</BSBadge></h5>
        <BSCol Column="12">
            @foreach (var item in _events.Items)
            {
                <BSCard CardType="CardType.Card">
                    <BSCard CardType="CardType.Image" src="placeholder:250x150" alt="Card image cap" />
                    <BSCard CardType="CardType.Body">
                        <BSCard CardType="CardType.Title">@item.Name</BSCard>
                        <BSCard CardType="CardType.Text">
                            <p>@item.Description</p>
                            <p>@item.OccurAt.</p>
                        </BSCard>
                    </BSCard>
                </BSCard>
            }
        </BSCol>
    }
    else if (!_loading)
    {
        <BSCol Column="12">
            <h5>@_headerName</h5>
            <p>No events scheduled</p>
        </BSCol>
    }
    else
    {
        <BSCol Column="12">
            <h5>@_headerName</h5>
            <BSProgress>
                <BSProgressBar IsStriped="true" Max="100" Color="BSColor.Dark" Value="100" IsAnimated="true"></BSProgressBar>
            </BSProgress>
        </BSCol>
    }
</BSRow>

@code {
    private CalendarViewModel _events { get; set; }
    private bool _loading { get; set; } = true;
    private string _headerName { get; set; } = "Scheduled events";

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            _events = await CalendarService.GetEvents();
            _loading = false;
            StateHasChanged();
        }
    }
}
